@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 30px;
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.div1 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 70px 10px;
}

.div2 {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div3 {
    width: 47%;
}

.div3 p {
    color: white;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.div3 p:first-child {
    font-size: 46px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 20px;
}

.div4 {
    width: 50%;
}

.div5 {
    width: 100%;
    background: hsl(248, 32%, 49%);
    box-shadow: 0 6px 1px 0px rgba(0, 0, 0, 0.15);
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 16px;
    border-radius: 10px;
}

span {
    width: 100%;
    background: hsl(248, 32%, 49%);
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
}

form {
    background: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}

.div6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 2px solid hsl(300, 2%, 87%);
    padding-right: 20px;
}

.border {
    border: 2px solid hsl(249, 10%, 26%);
}

.div6 input {
    width: 95%;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px 0 0 5px;
    padding: 15px 20px;
    color: hsl(249, 10%, 26%) !important;
    height: 100%;
    border: none;
    outline: none;
}

.bord {
    border: 2px solid hsl(0, 100%, 74%);
}

input::placeholder {
    font-size: 12px;
    font-weight: 700;
}

.div6 img {
    display: none;
}

.div7 {
    float: right;
    margin-bottom: 17px;
    margin-top: 3px;
    height: 10px;
    font-size: 10px;
    color: hsl(0, 100%, 74%);
    display: none;
}

button {
    width: 100%;
    background: hsl(154, 59%, 51%);
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding: 16px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    transition: 0.3s all ease;
    box-shadow: 0 3px 1px 0px hsl(154, 94%, 38%)
}

button:hover {
    background: hsl(154, 76%, 64%);
}

.p1 {
    font-size: 10px;
    text-align: center;
    color: hsl(246, 25%, 77%);
    font-weight: 600;
    margin: 0;
}

.p1 a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

.attribution {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    transition: 0.5s all ease;
}

.attribution a:hover {
    color: black;
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    body {
        margin: 0;
        padding: 0 30px;
        background-image: url("./images/bg-intro-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Poppins', sans-serif;
        background-color: hsl(0, 100%, 74%);
    }
    .div1 {
        max-width: 1440px;
        margin: 0 auto;
        padding: 70px 10px;
    }
    .div2 {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .div3 {
        width: 100%;
    }
    .div3 p {
        color: white;
        margin: 0;
        font-size: 17px;
        line-height: 30px;
        font-weight: 500;
        text-align: center;
    }
    .div3 p:first-child {
        font-size: 45px;
        font-weight: 600;
        line-height: 55px;
        margin-bottom: 30px;
    }
    .div4 {
        margin-top: 80px;
        width: 100%;
    }
    .div5 {
        width: 100%;
        background: hsl(248, 32%, 49%);
        box-shadow: 0 6px 1px 0px rgba(0, 0, 0, 0.15);
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        padding: 16px;
        border-radius: 10px;
    }
    span {
        width: 100%;
        background: hsl(248, 32%, 49%);
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
    }
    form {
        background: white;
        padding: 30px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .div6 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 30px;
        border: 2px solid hsl(300, 2%, 87%);
        padding-right: 20px;
    }
    .border {
        border: 2px solid hsl(249, 10%, 26%);
    }
    .div6 input {
        width: 95%;
        font-size: 15px;
        font-weight: 600;
        border-radius: 5px 0 0 5px;
        padding: 15px 20px;
        color: hsl(249, 10%, 26%) !important;
        height: 100%;
        border: none;
        outline: none;
    }
    .bord {
        border: 2px solid hsl(0, 100%, 74%);
    }
    input::placeholder {
        font-size: 14px;
        font-weight: 700;
    }
    .div6 img {
        display: none;
    }
    .div7 {
        float: right;
        margin-bottom: 17px;
        margin-top: 3px;
        height: 10px;
        font-size: 10px;
        color: hsl(0, 100%, 74%);
        display: none;
    }
    button {
        width: 100%;
        background: hsl(154, 59%, 51%);
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        padding: 16px;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px;
        transition: 0.3s all ease;
        box-shadow: 0 3px 1px 0px hsl(154, 94%, 38%)
    }
    button:hover {
        background: hsl(154, 76%, 64%);
    }
    .p1 {
        font-size: 12px;
        text-align: center;
        color: hsl(246, 25%, 77%);
        font-weight: 600;
        margin: 0;
    }
    .p1 a {
        text-decoration: none;
        color: hsl(0, 100%, 74%);
        font-weight: 700;
    }
    .attribution {
        font-size: 20px;
        text-align: center;
        font-weight: 600;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        transition: 0.5s all ease;
    }
    .attribution a:hover {
        color: black;
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0 20px;
        background-image: url("./images/bg-intro-mobile.png");
        background-repeat: no-repeat;
        background-size: contain;
        font-family: 'Poppins', sans-serif;
        background-color: hsl(0, 100%, 74%);
    }
    .div1 {
        max-width: 1440px;
        margin: 0 auto;
        padding: 90px 10px 30px 10px;
    }
    .div2 {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .div3 {
        width: 100%;
    }
    .div3 p {
        color: white;
        margin: 0;
        font-size: 14px;
        line-height: 25px;
        font-weight: 500;
        text-align: center;
    }
    .div3 p:first-child {
        font-size: 25px;
        font-weight: 600;
        line-height: 33px;
        margin-bottom: 25px;
    }
    .div4 {
        margin-top: 55px;
        width: 100%;
    }
    .div5 {
        width: 100%;
        background: hsl(248, 32%, 49%);
        box-shadow: 0 6px 1px 0px rgba(0, 0, 0, 0.15);
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        padding: 16px 45px;
        border-radius: 10px;
    }
    span {
        width: 100%;
        background: hsl(248, 32%, 49%);
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
    }
    form {
        background: white;
        padding: 20px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .div6 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 30px;
        border: 2px solid hsl(300, 2%, 87%);
        padding-right: 20px;
    }
    .border {
        border: 2px solid hsl(249, 10%, 26%);
    }
    .div6 input {
        width: 95%;
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px 0 0 5px;
        padding: 15px 20px;
        color: hsl(249, 10%, 26%) !important;
        height: 100%;
        border: none;
        outline: none;
    }
    .bord {
        border: 2px solid hsl(0, 100%, 74%);
    }
    input::placeholder {
        font-size: 14px;
        font-weight: 700;
    }
    .div6 img {
        display: none;
    }
    .div7 {
        float: right;
        margin-bottom: 17px;
        margin-top: 3px;
        height: 10px;
        font-size: 10px;
        color: hsl(0, 100%, 74%);
        display: none;
    }
    button {
        width: 100%;
        background: hsl(154, 59%, 51%);
        color: white;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        padding: 16px;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px;
        transition: 0.3s all ease;
        box-shadow: 0 3px 1px 0px hsl(154, 94%, 38%)
    }
    button:hover {
        background: hsl(154, 76%, 64%);
    }
    .p1 {
        font-size: 11.5px;
        text-align: center;
        color: hsl(246, 25%, 77%);
        font-weight: 600;
        margin: 0;
    }
    .p1 a {
        text-decoration: none;
        color: hsl(0, 100%, 74%);
        font-weight: 700;
    }
    .attribution {
        font-size: 13px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        transition: 0.5s all ease;
    }
    .attribution a:hover {
        color: black;
        text-decoration: underline;
    }
}